In [1]:
import pandas as pd 
from openpyxl import Workbook , load_workbook

In [2]:
wb =  Workbook()

In [7]:
wb.sheetnames

['First sheet']

In [4]:
ws = wb["Sheet"]

In [6]:
ws.title = "First sheet"

In [11]:
table = pd.DataFrame({"Names" : ["abdelatif" , "ibourk" , "ikram" ]})

In [13]:
table["ages"]= [24 , 25 , 27]

In [14]:
table

       Names  ages
0  abdelatif    24
1     ibourk    25
2      ikram    27

In [15]:
table["intrest"]= ["hicking" , "sports" , "reading "]

In [16]:
table

       Names  ages   intrest
0  abdelatif    24   hicking
1     ibourk    25    sports
2      ikram    27  reading

AttributeError: 'Worksheet' object has no attribute 'active'